.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    z-index: 1;
}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImage{
    /* width: 20.6rem;
    height: 20rem; */
    width: 100%;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 2px;
    left: 20px;
}